.start__img {
	display: block;
	width: 600px;
	height: 400px;
	object-fit: cover;
}
.mySwiper {
	max-width: 1161px;
	height: 400px;
}
.swiper__slide {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}
.swiper-pagination {
    color: #fff;
}

@media (min-width: 768px) and (max-width: 992px) {
	.mySwiper {
		height: 250px;
	}
	.start__img {
		width: 400px;
		height: 250px;
	}
}
@media (max-width: 768px) {
	.start__img {
		position: absolute;
		width: 100%;
		opacity: 0.5;
	}
}