@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.production {
    padding-top: 10%;
    .production__title {
        @include title;
    }
    .production__swiper {
        width: 100%;
    }
    .swiper-slide {
        opacity: 0.3;
        transition: transform 0.5s;
        padding-top: 10%;
        display: flex;
        justify-content: center;
        height: 600px;
    }
    .swiper-slide-active {
        transform: scale(1.2) !important;
        opacity: 1;
        transition: transform 0.5s;
        height: 640px;
        z-index: 2;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .production {
        .swiper-slide {
            height: 350px;
        }
        .swiper-slide-active {
            height: 390px;
        }
    }
}
@media (max-width: 576px) {
    .production {
        .swiper-slide {
            height: 300px;
        }
        .swiper-slide-active {
            height: 340px;
        }
    }
}