@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.products {
    max-width: 1161px;
    margin: 0 auto;
    padding-top: 140px;
}
.products__title {
    text-align: center;
    @include title;
}
.products__row_blocks {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}